<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insert-2</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/insert-2.css">
    <script src="https://kit.fontawesome.com/08c0ae04a4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">
        <main>
            <article>
                <section>
                    <h1>
                        <img src="/static/images/logo.png" alt="">
                    </h1>
                </section>
                <section>
                    <div class="">
                        <h2>식사 방법을 선택해 주세요</h2>
                    </div>
                </section>
                <section></section>
            </article>
        </main>
        <footer>
            <div class="qr-code-box">
                <div class="qr-code">
                    <i class="fa-solid fa-qrcode fa-6x"></i>
                    <p>포인트를 적립하세요</p>
                    <p>결제 전 선택 필수</p>
                    <i class="fa-solid fa-chevron-down fa-2x"></i>
                </div>
            </div>
            <div class="user-choose-info">
                <ul>
                    <li>
                        <p>처음으로</p>
                    </li>
                    <li>
                        <i class="fa-solid fa-wheelchair"></i>
                        <p>도움 기능</p>
                    </li>
                </ul>
                <p>일일 열량 권장량은 보통 2,000칼로리이지만 필요한 칼로리는 다를 수 있습니다 요청시 추가 영양 정보를 제공해드립니다.</p>
            </div>
        </footer>
    </div>
</body>
</html>