<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insert</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/insert.css">
    <script src="https://kit.fontawesome.com/08c0ae04a4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">
        <main></main>
        <footer>
            <article>
                <div class="qr-code-box">
                    <div class="qr-code">
                        <p>QR코드를 스캔하세요</p>
                        <i class="fa-solid fa-qrcode fa-8x"></i>       
                        <i class="fa-solid fa-chevron-down fa-2x"></i>
                    </div>
                </div>
                <div class="order-btns">
                    <div class="order-btn btns">
                        <p>주문하기</p>
                    </div>
                    <ul class="help-user-info">
                        <li class="btns">
                            <i class="fa-solid fa-language fa-1x"></i>
                            <p>언어</p>
                        </li>
                        <li class="btns">
                            <i class="fa-sharp fa-solid fa-handshake-angle fa-1x"></i>
                            <p>도움 기능</p>
                        </li>
                    </ul>
                    <div>
                        <span>asdfasdfasdfasdfasdfasdfasdfasdfasdfsadf</span>
                    </div>
                </div>
            </article>
        </footer>
    </div>
    <script src="/static/js/insert.js"></script>
</body>
</html>