<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>setjumun</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/set-size-select-view.css">
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
  <div id="container">
    <div class="modal">
      <div>
        <h2>세트로 주문하시겠습니까?</h2>
      </div>
      <center>
        <div class="main-select-menu-image-div">
          <div class="select-menu-image-div">
            <div class="sigle-menu-image">
                <img class="burger-image" src="/static/images/hamburger/bulgogi-burger.png" alt="bulgogi-burger">
            </div>
            <p class="price-p"></p>
            <span>단품 선택</span>
          </div>
          <div class="select-menu-image-div">
            <div class="set-menu-image">
                <img src="/static/images/side-menu/french-fries.png" alt="french-fries">
                <img src="/static/images/drink/coca-cola-zero.png" alt="coke-zero">
                <img class="burger-image" src="/static/images/hamburger/bulgogi-burger.png" alt="bulgogi-burger">
            </div>
            <p class="price-p"></p>
            <span>기본 세트 선택</span>
          </div>
          <div class="select-menu-image-div">
            <div class="set-menu-image">
                <img src="/static/images/side-menu/french-fries.png" alt="french-fries">
                <img src="/static/images/drink/coca-cola-zero.png" alt="coke-zero">
                <img class="burger-image" src="/static/images/hamburger/bulgogi-burger.png" alt="bulgogi-burger">
            </div>
            <p class="price-p"></p>
            <span>라지 세트 선택</span>
          </div>
        </div>
        <div class="btns">
          <button class="location-back-button">취소</button>
        </div>
      </center>
    </div>
    <div class="type-box">

    </div>
  </div>
  <script src="/static/js/set-size-select-view.js"></script>
</body>
</html>